main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple-color);
}

form{
    width: max(320px,60%);
    min-height: 300px;
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white-color);
    border-radius: 15px;
}

h1{
    color:var(--dark-purple-color);
    width:100%;
    text-align: center;

}

label{
    width:100%;
    display:flex;
    flex-direction: column;
    gap:10px;
}

label > span{
    font-size: 1.5rem;
}
label > input{
    font-size: 1.6rem;
    padding:6px 10px;
    border-radius: 7px;
    border:1px solid var(--light-purple-color);
}

div{
    width:100%;
    display: flex;
    justify-content: center;
}

div > button{
    width:150px;
    text-align: center;
    padding: 10px 0;
    color:var(--white-color);
    background-color: var(--dark-purple-color);
    border-radius: 8px;
    border:1px solid var(--dark-purple-color);
    font-size: 1.6rem;
    font-weight: 500;
    transition: color 2s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

div > button:hover{
    background-color: white;
    color:var(--dark-purple-color);
}

@media only screen and (min-width:1100px){
    form{
        width: 550px;
    }
}

@media  only screen and (max-width:450px) {
    form{
        width:90%;
    }
    
}